<html>
  <body>
    <h1>Catalogue de licornes</h1>
    <nav>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Nouveautés</a></li>
        <li><a href="#">Meilleures ventes</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <main>
      <div class="toy-item">
        <img src="toy1.jpg" alt="Jouet 1" />
        <h3>Jouet 1</h3>
        <p>Description du jouet 1</p>
      </div>
      <div class="toy-item">
        <img src="toy2.jpg" alt="Jouet 2" />
        <h3>Jouet 2</h3>
        <p>Description du jouet 2</p>
      </div>
      <div class="toy-item">
        <img src="toy3.jpg" alt="Jouet 3" />
        <h3>Jouet 3</h3>
        <p>Description du jouet 3</p>
      </div>
    </main>
    <li *ngFor="let unicorn of unicornList">
      {{ unicorn.name }}
    </li>
  </body>
</html>
